@import url("/font/Moderat/stylesheet.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: inherit;
  font-size: inherit;
}

.c-pp {
  color: #6672c7;
}

.c-or {
  color: #fb9129;
}

.c-gr {
  color: #35a162;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--secondary {
  background-color: #fff;
  color: #1d1d1d;
}

.btn--primary {
  background-color: #0a0e27;
  color: #fff;
}

.btn--sm {
  font-size: 0.96rem;
  line-height: 1.375rem;
  padding: 0.6rem 1rem;
  border-radius: 0.75rem !important;
}

.btn--lg {
  padding: 1.75rem 2rem;
  border-radius: 0.75rem !important;
}

@media only screen and (max-width: 46.875em) {
  .btn--lg {
    padding: 1.75rem 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn--lg {
    padding: 1.51rem 1.92rem;
  }
}
.btn--inline.orange,
.btn--inline.orange:not([disabled]):hover {
  color: #fb4e20;
}

.btn--inline {
  background-color: transparent;
  border-radius: 0.5rem;
  color: #000;
  -webkit-filter: none;
          filter: none;
  padding: 0.28rem 0.34rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.btn--inline svg {
  --scale: 0.85;
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
  -webkit-transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.btn__icon {
  fill: currentColor;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: auto;
  margin-left: 0.62rem;
  margin-top: 0.275rem;
  width: 0.6875rem;
}

.btn--inline:hover > svg {
  -webkit-transform: translateX(50%) scale(var(--scale));
          transform: translateX(50%) scale(var(--scale));
}

.heroCtas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.heroCtas .heroCta .btn {
  padding: 21px 24px !important;
  border-radius: 1rem !important;
  outline: none !important;
}
@media screen and (max-width: 480px) {
  .heroCtas .heroCta .btn {
    font-size: 3.7vw;
    line-height: 4vw;
    padding: 4.5vw 4.3vw !important;
  }
}
.heroCtas .heroCta .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.heroCtas .heroCta:first-child {
  margin-right: 2rem;
}
.heroCtas .heroCta:first-child a {
  background-color: #0a0e27;
  color: #fff;
}
.heroCtas .heroCta:last-child a {
  background-color: #eee;
  color: #000;
}

.p {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2rem;
  max-width: 38rem;
}

.headline {
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1.3rem;
  padding-left: 0.3rem;
}

@media only screen and (max-width: 37.5em) {
  .headline {
    font-size: 1.375rem;
    line-height: 1.51rem;
  }
}
.description {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin-bottom: 2.06rem;
  padding-left: 0.34rem;
}

@media only screen and (max-width: 37.5em) {
  .description {
    font-size: 1.24rem;
    line-height: 1.92rem;
  }
}
@font-face {
  font-family: Millik;
  src: url("/font/Millik/Millik.otf") format("opentype"), url("/font/Millik/Millik.ttf") format("truetype"), url("/font/Millik/MillikRegular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  font-family: "Moderat", "Inter", sans-serif;
  color: #333333 !important;
  font-size: 14px !important;
  background-color: #fff !important;
  background-image: url("/images/bg/login_bg.svg") !important;
  font-weight: 400 !important;
}
body input {
  font-family: "Moderat", "Inter", sans-serif !important;
}
body :focus {
  outline: 1px solid #ff9b00 !important;
  border-radius: 4px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: transparent !important;
}
body label {
  font-family: "Moderat", "Inter", sans-serif !important;
}
body .container-fluid {
  font-family: inherit;
}
body .container-fluid .row {
  font-family: inherit;
  padding: 32px 30px !important;
}
body .container-fluid .row .navbar,
body .container-fluid .row .navbar > * {
  font-family: inherit;
  padding: 0 !important;
}
body .container-fluid footer {
  padding: 0 5px !important;
}
body .container-fluid footer .footerItem {
  padding: 32px 30px !important;
}
body .container-fluid footer .footerItem a {
  font-family: inherit !important;
  color: inherit !important;
}
@media screen and (min-width: 480px) {
  body .container-fluid .loginForm {
    -webkit-animation: slide-left 0.6s ease 0s 1 normal forwards;
            animation: slide-left 0.6s ease 0s 1 normal forwards;
  }
}
body #register {
  background-color: #ff9b00 !important;
}
body #register:hover {
  background-color: #cc7c00 !important;
}
body #register:focus {
  outline: 1px solid #ff9b00 !important;
  border-radius: 4px !important;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}